footer {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(172, 172, 172);
    margin-top: auto;
}

footer > h5 {
    padding: 2rem;
}
