footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(172, 172, 172);
    margin-top: 1rem;
    z-index: 99;
}

footer > #footer-info {
    background-color: rgb(44, 44, 44);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

footer > #footer-info > p {
    text-align: center;
    padding: 1rem;
}

footer > #copyright {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer > #copyright > h5 {
    padding: 1rem;
}
