footer {
    background-color: black;
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(172, 172, 172);
    margin-top: auto;
}

footer > h4 {
    margin-top: 1rem;
}
