@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  --bgcolor: rgb(238, 238, 238);
  --bgcolor-darker: rgb(224, 224, 224);
  --light-blue: rgb(124, 124, 249);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;

  box-sizing: border-box;

  font-family: 'Source Sans Pro', sans-serif;

  text-decoration: none;
}

a:visited {
  color: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: var(--bgcolor-darker);
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* position: relative;
  margin: 0;
  box-sizing: inherit;
  padding-bottom: 10rem; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

@keyframes load {
  from {
      transform: translateY(50%);
      opacity: 0;
  }

  to {
      transform: translateY(0%);
      opacity: 1;
  }
}
